<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @learning_material.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @learning_material.source %>
</p>

<p>
  <strong>Description:</strong>
  <%= @learning_material.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @learning_material.duration %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @learning_material.difficulty %>
</p>

<%= link_to 'Edit', edit_learning_material_path(@learning_material) %> |
<%= link_to 'Back', learning_materials_path %>
