<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @material.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= @material.source %>
</p>

<p>
  <strong>Description:</strong>
  <%= @material.description %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @material.duration %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @material.difficulty %>
</p>

<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
